<div>
  <div class="clearfix">
    <span class="m-font-s-21">稽核重跑</span>
    <i class="glyphicon glyphicon-triangle-right"></i>
  </div>
  <div>
    <div class="clearfix m-margin-t">
      <div class="m-float-l">
        <p class="m-float-l m-font-s-12 m-main-p m-margin-l-8">商户</p>
        <select class="m-float-l m-main-select form-control input-sm" ng-model="params.flleType" ng-options="i.id as i.name for i in backup"></select>
      </div>
      <div class="m-float-l">
        <p class="m-float-l m-font-s-12 m-main-p m-margin-l-8">日期</p>
        <div class="m-main-select input-group">
          <input
            type="text" readonly="readonly"
            ng-click="open($event)"
            class="form-control input-sm disabled"
            datepicker-popup="{{format}}"
            ng-model="params.time"
            is-open="opened"
            datepicker-options="dateOptions"
            date-disabled="disabled(date, mode)"
            ng-required="true"
            close-text="取消"
            ng-change="dates();"
          />
          <span class="input-group-btn">
              <button
                  type="button"
                  class="btn btn-default btn-sm"
                  ng-click="open($event);"
                  >
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
          </span>
        </div>
      </div>
      <div class="m-float-l m-btn-2">
        <button type="button" ng-click="search()" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-refresh"></i>&nbsp;&nbsp;重跑</button>
      </div>
      <div class="m-float-l m-margin-l-16">
        <button type="button" ng-click="search()" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-search"></i>&nbsp;&nbsp;查询</button>
      </div>
    </div>
  </div>

  <div class="m-margin-t m-main-table">
    <table class="table table-bordered text-center table-striped table-hover">
      <thead class="m-font-s-15 m-table-thead">
        <tr>
          <td>文件类型</td>
          <td>文件名称</td>
          <td>步骤状态</td>
        </tr>
      </thead>
      <tbody class="m-font-s-12">
        <tr ng-repeat="i in list">
          <td>{{i.aa}}</td>
          <td>{{i.bb}}</td>
          <td>{{i.cc}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <nav>
    <ul class="pagination m-main-page">
      <li>
        <a href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li>
        <a href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>