<div  style="clear:both;margin:10px 0 10px 30px;">
	<div class="btn-group" role="group" aria-label="...">
	  <button type="button" class="btn btn-primary">首页</button>
	  <button type="button" class="btn btn-primary">简介</button>

	  <div class="btn-group" role="group">
	    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	      文章
	      <span class="caret"></span>
	    </button>
	    <ul class="dropdown-menu">
	      <li><a href="#">angularJS</a></li>
	      <li><a href="#">nodeJS</a></li>
	      <li><a href="#">javascript</a></li>
	      <li><a href="#">css</a></li>
	    </ul>
	  </div>
	</div>
</div>


<div ui-view="blogView"></div>